#############################
#  OS SYSTEM FILES
#############################

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.icloud

# Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.lnk
[Dd]esktop.ini
$RECYCLE.BIN/

# Linux
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*

#############################
#  PYTHON
#############################

__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual envs
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
pyvenv.cfg
Scripts/

# Package metadata
*.egg-info/
.eggs/
*.egg
MANIFEST

#############################
#  DJANGO
#############################

*.log
db.sqlite3
db.sqlite3-journal

# Static and media (generated)
staticfiles/
media/

# Django local overrides
local_settings.py

#############################
#  TOOLS & CACHE
#############################

# pip / pytest / coverage / cache
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/

# Hypothesis
.hypothesis/

# Mypy, Ruff, type checkers
.mypy_cache/
.dmypy.json
.pyre/
.pytype/
.ruff_cache/

#############################
#  EDITORS & PROJECT SETTINGS
#############################

# VSCode
.vscode/

# JetBrains
# .idea/

# Jupyter
.ipynb_checkpoints

#############################
#  DOCKER
#############################

*.pid
celerybeat-schedule
celerybeat.pid

